// <Шрифт по умолчанию>======================================//
/* families:
	sans-serif
	monospace
	fantasy
	serif
*/
$family: "sans-serif";
$main-font: "Roboto";
$base-font-weight: 400;
$base-font-size: 16px;
// <Шрифт по умолчанию>======================================//
// <Цвета>======================================//
$logo-color: #bebdee;
$accent: #535292;
$active: #7675a5;
$base-color: #000;
$dark: #31353d;
$deep: #393939;
$red: #c76c6c;
$purple: #7675a5;
$orange: #ff9100;
$green: #75a588;
// Цвет текстового логотипа
// <Цвета>======================================//
// <Container>======================================//
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1152;
// <Container>======================================//
// <Breakpoints>======================================//
$md1: $maxWidthContainer + 15;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
// <Breakpoints>======================================//
// <gutters>======================================//
$header-gutter: 10;
// <gutters>======================================//
