.card {
  color: #fff;

  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  padding: 0px 60px;
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    width: 100%;
  }

  &__text-block {
    user-select: none;
    max-width: 375px;
    flex: 1 1 auto;
  }
  &__title {
    user-select: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.04em;
    margin-bottom: 20px;
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__link {
    color: inherit;
    display: block;
  }

  &__svg-block {
    position: relative;
    width: 65px;
    height: 65px;
    & img {
      position: absolute;
      width: 100%;
      display: block;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: contain;
    }
  }
}
