$size-icons: 45;
$icon-padding: 10;
.icon-block {
  display: flex;
  justify-content: space-between;

  &__link {
    padding: 0px #{$icon-padding}px;
    width: #{$size-icons + $icon-padding * 2}px;
    height: #{$size-icons}px;
    &:last-child {
      padding-right: 0;
    }

    & img {
      top: 0;
      left: 0;
      max-width: 100%;
    }
  }
}
