$size-icons: 45;
$icon-padding: 10;
.icon-block {
  display: flex;
  justify-content: space-between;
  @media (max-width: $md4 + px) {
    flex-wrap: wrap;
  }
  &__link {
    padding: 0px #{$icon-padding}px;
    width: #{$size-icons + $icon-padding * 2}px;
    height: #{$size-icons}px;
    display: block;
    &:last-child {
      padding-right: 0;
    }
    @media (max-width: $md4 + px) {
      flex: 0 0 50%;
      margin-bottom: 10px;
    }
    @media (max-width: $md4 + px) {
      $icon-padding: $icon-padding * 0.4;
      padding: 0px #{$icon-padding}px;
      width: #{$size-icons + $icon-padding * 2}px;
    }
    & img {
      top: 0;
      left: 0;
      max-width: 100%;
    }
  }
}
