.footer {
  position: relative;
  color: #fff;
  &__body {
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    flex: 0 0 auto;
  }
  &__icons-bar {
    flex: 0 1 20%;
    @media (max-width: $md4 + px) {
      flex: 0 0 30%;
    }
  }
  &::before {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-color: $dark;
  }
}
