.header {
  color: $logo-color;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #31353d;
    @media (max-width: $md3 + px) {
      z-index: 3;
    }
  }
  &__container {
    max-width: $maxWidthContainer + $header-gutter * 2 + px;
    padding: 0px $header-gutter + px;
    margin: 0px auto;
  }
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    @media (max-width: $md3 + px) {
    }
  }
  &__logo {
    flex: 0 0 150px;
    position: relative;
    top: 5px;
<<<<<<< HEAD
    flex: 0 0 150px;
    z-index: 3;
    & img {
      display: block;
=======
    & img {
>>>>>>> e4930dd736d51bbd27de76fd69b0fc510ed01c51
      max-width: 100%;
    }
  }
  &__nav {
    @media (max-width: $md3 + px) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
    }
    & ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 0 1 auto;
    }
  }
  &__item {
    line-height: 80px;
    padding: 0px 13px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.1em;
    position: relative;
    @media (min-width: $md2+px) {
      overflow: hidden;
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: -1000px;
        height: 4px;
        width: 100%;
        background-color: $logo-color;
        transition: all 0.7s cubic-bezier(0.9, 0.16, 0, 0.28) 0s;
      }
      &:hover {
        &::before {
          left: 0;
        }
      }
    }
  }
}
@import "burger";
