.header {
  color: $logo-color;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #31353d;
    @media (max-width: $md3 + px) {
      z-index: 3;
    }
  }
  &__container {
    max-width: $maxWidthContainer + $header-gutter * 2 + px;
    padding: 0px $header-gutter + px;
    margin: 0px auto;
  }
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
  }
  &__logo {
    position: relative;
    flex: 0 0 150px;
    z-index: 5;
    & img {
      max-width: 100%;
    }
  }
  &__nav {
    & ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    @media (max-width: $md3 + px) {
      position: fixed;
      padding-top: 120px;
      top: 0;
      left: 1000px;
      width: 100%;
      height: 100%;
      background-color: $logo-color;
      transition: left 0.4s ease;
      overflow-y: auto;
      &._active {
        left: 0;
      }
      & ul {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
      }
    }
  }
  &__item {
    line-height: 80px;
    padding: 0px 13px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.1em;
    position: relative;
    @media (min-width: $md2+px) {
      overflow: hidden;
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: -1000px;
        height: 4px;
        width: 100%;
        background-color: $logo-color;
        transition: all 0.7s cubic-bezier(0.9, 0.16, 0, 0.28) 0s;
      }
      &:hover {
        &::before {
          left: 0;
        }
      }
    }
    @media (max-width: $md3 + px) {
      color: $accent;
      line-height: 100%;
      padding: 10px;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
