.main-screen {
  padding-top: 130px;
  &__body {
  }

  &__title {
    margin-bottom: 40px;
  }

  &__subtitle {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
  }

  &__btn-block {
  }

  &__btn {
  }

  &__block-img {
  }
}
