// <Шрифт по умолчанию>======================================//
/* families:
	sans-serif
	monospace
	fantasy
	serif
*/
$family: "sans-serif";
$main-font: "Roboto";
// <Шрифт по умолчанию>======================================//
// <Цвета>======================================//
$logo-color: #bebdee;
$accent: #535292;
$base-color: #727272;
$base-font-weight: 400;
$base-font-size: 16px;
// Цвет текстового логотипа
// <Цвета>======================================//
// <Container>======================================//
$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1152;
// <Container>======================================//
// <Breakpoints>======================================//
$md1: $maxWidthContainer + 15;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
// <Breakpoints>======================================//
